# Archivos de compilación y directorios
/bin/
/build/
/out/

# Archivos generados por IDEs
/.idea/
/*.iml
.vscode/
*.class

# Archivos específicos del sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini

# Archivos de configuración de IntelliJ y CLion
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/libraries/
/.idea/misc.xml

# Archivos de Maven y Gradle
/target/
/.gradle/
/build/

# Archivos de logs
*.log

# Configuraciones locales de Java y JavaFX
*.launch
*.history

# Dependencias locales (en caso de no versionarlas)
libs/

# Archivos de empaquetado
*.jar
*.war
*.ear

# Archivos relacionados con JavaFX Native Packaging
*.jfx

# Archivos temporales o cacheados
*.swp
*.swo
*.tmp