#root {
    -fx-font-size: 30px;
    -fx-background-color: #e9f1f7;
}

.button {
    -fx-background-color: #0960ae;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-background-radius: 30px;
}

.button:hover{
    -fx-background-color: #3e8fd8;
}

#title {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #0960ae;
    -fx-font-size: 60px;
}

#turnTitle {
    -fx-background-color: #0960ae;
    -fx-font-size: 60px;
    -fx-text-fill: white;

    -fx-border-color: #0960ae;
    -fx-border-width: 2px;

    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

#turn {
    -fx-background-color: #0960ae;
    -fx-font-size: 150px;
    -fx-text-fill: white;

    -fx-border-color: #0960ae;
    -fx-border-width: 2px;

    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.table-view {
    -fx-background-color: #e9f1f7;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 60px;
}

.table-view .column-header {
    -fx-background-color: #0960ae;
    -fx-pref-height: 90px;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-insets: 6px;
    -fx-padding: 2px;
}

#roundButton {
    -fx-background-radius: 50%;        /* Hacer fondo circular */
    -fx-border-radius: 50%;            /* Hacer borde circular */

    -fx-padding: 0;                    /* Quitar padding interno */
    -fx-border-color: #2E7D32;         /* Borde opcional */
    -fx-border-width: 2px;
}